{% extends 'base_app.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard-wrapper">
    <div class="hero-box">
        <h2>Hello, {{ request.user.username }} </h2>
        <p class="hero-sub">Discover and share delicious homemade recipes</p>
        <div class="search-wrapper">
            <input type="text" placeholder="Search recipes...">
            <button>Search</button>
        </div>
    </div>
    <div class="categories-scroll">
        <button class="cat-btn active">Dinner</button>
        <button class="cat-btn">Snacks</button>
        <button class="cat-btn">Desserts</button>
        <button class="cat-btn">Healthy</button>
        <button class="cat-btn">Beverages</button>
    </div>
    <div class="recipe-grid">
        {% for r in recipes %}
        <div class="recipe-card">

            {% if r.image %}
            <img src="{{ r.image.url }}" alt="{{ r.title }}">
            {% endif %}

            <div class="recipe-info">
                <h3>{{ r.title }}</h3>
                <p>{{ r.ingredients|truncatewords:10 }}</p>
            </div>
        </div>
        {% empty %}
        <p>No recipes yet. Add one!</p>
        {% endfor %}
    </div>

</div>

{% endblock %}