{%extends 'base_public.html'%}
{%block title%}Sign Up{%endblock%}
{%block content%}
<div class="container">
    <form class="login-form" method="POST">
        {% csrf_token %}
        <p class="header">Create an Account</p>
        <input type="email" name="email" placeholder="Email" class="login-input" required>
        <input type="password" name="password" placeholder="Password" class="login-input" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" class="login-input" required>

        <button type="submit" class="login-btn">Sign Up</button>
        <p class="login-footer">
            Already have an account? <a href="/login"> Login</a> 
        </p>
    </form>
</div>
{%endblock%}