{% extends 'base_app.html' %}
{% block content %}
<div class="recipe-detail-container">
    <h1>{{ recipe.title }}</h1>
    {% if recipe.image %}
        <img src="{{ recipe.image.url }}" class="detail-img">
    {% endif %}
    <p><strong>Category:</strong> {{ recipe.category }}</p>
    <p><strong>Posted by:</strong> {{ recipe.user.username }}</p>
    <p><strong>Posted on:</strong> {{ recipe.created_at|date:"M d, Y" }}</p>
    <hr>
    <h2>Ingredients</h2>
    <p>{{ recipe.ingredients|linebreaks }}</p>
    <h2>Instructions</h2>
    <p>{{ recipe.instructions|linebreaks }}</p>
</div>
{% endblock %}
