<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
</head>

<body style="background: #fafafa; margin: 0;">
{% block navbar %}
<div class="navbar">
    <div class="title"> RecipeBook</div>
    <div>
        <a href="{% url 'dashboard' %}">Home</a>
        <a href="{% url 'add_recipe' %}">+ Add Recipe</a>
        <a href="#">Profile</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% endblock %}


    <div class="content-area">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
